.design {
  font-family: 'Epilogue';
  padding-top: 50px;

  &__text {
    padding-top: 50px;
    &__title {
      color: #646161;
      font-size: 72px;
      font-weight: 600;
      line-height: 90%;
      text-transform: uppercase;
    }
    &__subtitle {
      margin-top: 40px;
      color: #272f33;
      font-size: 24px;
      font-weight: 500;
      line-height: 90%;
    }
    &__content {
      margin-top: 16px;
      width: 907px;
      color: #646161;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
    }
  }
  &__image {
    margin-top: 20px;
    position: relative;
    height: 484px;
    margin-bottom: 50px;
    &__computer {
      background-image: url('/src/images/block_design/computer_1920.png');
      background-repeat: no-repeat;
      width: 600px;
      height: 449px;
      position: absolute;
      left: 140px;
      top: 0px;
    }
    &__background {
      background-image: url('/src/images/block_design/BG_1920.png');
      background-repeat: no-repeat;
      width: 1920px;
      height: 450px;
      position: absolute;
      left: -200px;
      top: -101px;
    }
    &__awards-logo {
      position: absolute;
      left: 761px;
      top: 86px;
    }
    &__css-logo {
      position: absolute;
      left: 906px;
      top: 208px;
    }
    &__fwa-logo {
      position: absolute;
      left: 654px;
      top: 303px;
    }
  }
  @media (max-width: 1919px) {
    &__image {
      &__computer {
        background-image: url('/src/images/block_design/computer_1920.png');
        left: 0px;
        top: 0px;
      }
      &__background {
        background-image: url('/src/images/block_design/BG_1440.png');
        background-repeat: no-repeat;

        left: -100px;
        top: -101px;
      }
      &__awards-logo {
        left: 620px;
      }
      &__css-logo {
        left: 766px;
      }
      &__fwa-logo {
        left: 514px;
      }
    }
  }
  @media (max-width: 1439px) {
    &__image {
      &__computer {
        background-image: url('/src/images/block_design/computer_1920.png');
        left: 0px;
        top: 0px;
      }
      &__background {
        background-image: url('/src/images/block_design/BG_1280.png');
        background-repeat: no-repeat;
        left: -16px;
        top: 13px;
      }
      &__awards-logo {
        left: 625px;
      }
      &__css-logo {
        left: 753px;
        width: 421px;
        height: 70px;
      }
      &__fwa-logo {
        left: 530px;
      }
    }
  }

  @media (max-width: 1279px) {
    padding-top: 80px;
    &__text {
      padding-top: 0;
      &__title {
        font-size: 36px;
      }
      &__subtitle {
        margin-top: 20px;
        font-size: 18px;
        line-height: 110%;
      }
      &__content {
        margin-top: 8px;
        width: 608px;
      }
    }
    &__image {
      margin-top: 20px;
      position: relative;
      height: 128px;
      margin-bottom: 16px;
      &__computer {
        background-image: url('/src/images/block_design/computer_640.png');
        left: 139px;
        top: 0px;
      }
      &__background {
        background-image: url('/src/images/block_design/BG_640.png');
        background-repeat: no-repeat;
        left: 0px;
        top: 13px;
      }
      &__awards-logo {
        width: 83px;
        height: 13px;
        left: 417px;
        top: 26px;
      }
      &__css-logo {
        width: 126px;
        height: 18px;
        left: 455px;
        top: 59px;
      }
      &__fwa-logo {
        width: 54px;
        height: 18px;
        left: 390px;
        top: 83px;
      }
    }
  }
  @media (max-width: 639px) {
    &__text__content {
      width: 382px;
    }
    &__image {
      &__computer {
        background-image: url('/src/images/block_design/computer_640.png');
        left: 26px;
        top: 0px;
      }
      &__background {
        background-image: url('/src/images/block_design/BG_414.png');
        background-repeat: no-repeat;
        left: 0px;
        top: 13px;
      }
      &__awards-logo {
        width: 83px;
        height: 13px;
        left: 191px;
        top: 26px;
      }
      &__css-logo {
        width: 126px;
        height: 18px;
        left: 229px;
        top: 59px;
      }
      &__fwa-logo {
        width: 54px;
        height: 18px;
        left: 163px;
        top: 75px;
      }
    }
  }
}
