.design {
  font-family: 'Epilogue';
  padding-top: 50px;

  &__text {
    margin-left: 100px;
    padding-top: 50px;
    &__title {
      color: #646161;
      font-size: 72px;
      font-weight: 600;
      line-height: 90%;
      text-transform: uppercase;
    }
    &__subtitle {
      margin-top: 40px;
      color: #272f33;
      font-size: 24px;
      font-weight: 500;
      line-height: 90%;
    }
    &__content {
      margin-top: 16px;
      width: 907px;
      color: #646161;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
    }
  }
  &__image {
    margin-top: 20px;
    position: relative;
    height: 484px;
    margin-bottom: 50px;
    &__background {
      top: 27.87px;
      position: absolute;
    }
    &__computer {
      position: absolute;
      height: 449px;
      left: 64px;
      top: 13.87px;
    }
    &__awards-logo {
      position: absolute;
      left: 721px;
      top: 99.87px;
    }
    &__css-logo {
      position: absolute;
      left: 866px;
      top: 221.87px;
    }
    &__fwa-logo {
      position: absolute;
      left: 576px;
      top: 204.87px;
    }
  }
  @media (max-width: 1440px) {
    font-family: 'Epilogue';
    padding-top: 80px;

    &__text {
      margin-left: 16px;
      margin-right: 16px;
      padding-top: 0;
      &__title {
        font-size: 36px;
      }
      &__subtitle {
        margin-top: 20px;
        font-size: 18px;
        line-height: 110%;
      }
      &__content {
        margin-top: 8px;
        width: 382px;
      }
    }
    &__image {
      margin-top: 20px;
      position: relative;
      height: 128px;
      margin-bottom: 16px;
      &__background {
        top: 7.39px;
        width: 382px;
      }
      &__computer {
        height: 119px;
        left: 17px;
        top: 6px;
      }
      &__awards-logo {
        width: 82.854px;
        height: 13.264px;
        left: 191.27px;
        top: 26.49px;
      }
      &__css-logo {
        width: 125.742px;
        height: 18.487px;
        left: 229.73px;
        top: 58.86px;
      }
      &__fwa-logo {
        width: 76.4px;
        height: 76.4px;
        left: 152.8px;
        top: 54.35px;
      }
    }
  }
}
